.enterprise_manager_type_btn{
	height: 50px;
	background: #f4f4f4;
	padding:11px 0 11px 5px;
	border-right: 1px solid #e9e9e9;
	border-left: 1px solid #e9e9e9;
	border-top: 1px solid #e9e9e9;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.enterprise_manager_type_btn button{
	border-radius: 0;
}
.enterprise_manager_type_btn_margin{
	margin-right: 5px;
}
.enterprise_manager_table .ant-table-thead th{
	background: #fff;
}
.enterprise_manager_type_btn .enterprise_manager_type_current{
	background: #2db7f5;
	color:#fff;
}
.enterprise_manager_type_cls{
	border:1px solid #2db7f5;
	color:#2db7f5;
	background: #f4f4f4;
}
#contents .enterprise_manager_code_table td{
    padding:0px 0px;
}
.enterprise_manager_code_table_colpse{
	width: 100%;
	padding:4px 8px;
	min-height: 25px;
}
.enterprise_manager_code_table_colpse_boder{
	border-bottom:1px solid #e9e9e9;
}
.enterprise_manager_code_table_padding{
	display: inline-block;
	padding:0 8px;
}
.enterprise_manager_back_dailog .ant-modal-footer{
	display: none;
}
.enterprise_manager_back_dailog .enterprise_manager_back_dailog_input{
	width: 300px;
}
.enterprise_manager_back_desc_from .ant-form-item{
	overflow: hidden;
}
.enterprise_manager_back_desc_from .ant-form-item label{
	display: block;
	float: left;
	width: 36px;
}
.enterprise_manager_back_desc_from .ant-form-item-control{
	width: 250px;
	float: left;
}
.enterprise_manager_back_desc_from .ant-form-item-control textarea{
	width: 250px;
}
.enterprise_manager_back_dailog .ant-form-item{
	margin-bottom: 10px;
}
.enterprise_manager_back_dailog_btn{
	margin-left: 10px;
}
.enterprise_manager_back_dailog .cancel{
	background: #fff;
	color:#2db7f5;
	border:1px solid #2db7f5;
}
.enterprise_manager_table td .color_blue{
	cursor: pointer;
}
.enterprise_manager_code_table_padding.color_blue,.enterprise_manager_code_table_padding.color_red{
	cursor: pointer;
}
.enterprise_manager_code_dailog{
	margin: 0 10px;
}
.enterprise_manager_code_dailog span.dailog_span{
	display: inline-block;
	font-weight: bold;
	color:red;
	margin: 0 5px;
	font-size: 14px;
}
.enterprise_manager_authenticate_daliog .ant-modal-footer{
	display: none;
}
.enterprise_manager_authenticate_daliog .ant-modal-header{
	display: none;
}
#img_view_layout_container{
	background-color: rgba(55, 55, 55, 0.6);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
#img_view_loading_content{
	background: #fff;
	position: absolute;
	width: 80px;
	height: 30px;
	top:50%;
	left: 50%;
	margin-top: -15px;
	margin-left: -40px;
	padding:10px;
	text-align: center;
	border-radius: 5px;
}
.enterprise_manager_authenticate_daliog img{
	width: 100%;
}
.enterprise_manager_authenticate_table .color_blue{
	cursor: pointer;
}
.enterprise_manager_aproval_dailog_desc{
	display: inline-block;
	margin-right: 10px;
}