.b {
	/*border:1px solid red;*/
}
body{
    background: #404040;
}
table{
	font-size:13px;
}
pre{
	white-space:pre-wrap;
	white-space:-moz-pre-wrap;
	white-space:-pre-wrap;
	white-space:-o-pre-wrap;
	word-wrap:break-word;
}
/**overide ant**/

.ant-tabs-nav .ant-tabs-tab {
    height: auto;
}
.none_head_table .ant-table-thead{
	display:none;
}
.ant-table td{
	word-break: break-all
}
.ant-pagination-item{
	padding:0 10px;
	min-width:auto;
}



.fl {
    float: left;
}
.fr {
    float: right;
}
.sidebar-left {
    width: 200px;
    height: 100%;
    float: left;
    background: #404040;
}
.sidebar-left .ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu{
	padding:0;
}
.sidebar-left .ant-menu-horizontal{
	margin-left:-5px;
}
.sidebar-left .ant-menu-item > h2{
	margin-top:3px;
}
.sidebar-left .ant-menu-item a{
	color:#ccc;
	font-size:15px;
}
.sidebar-left .ant-menu-item{
	margin-left:20px;
}
/**nav**/

.logo {
    background: url('../img/logo.png') no-repeat 10px 10px;
    background-size: 60%;
    width: 55px;
    height: 50px;
}
.contents {
	padding:20px 40px;
    flex: 1;
    background: #fff;
}
.contents .camera_info_column2{
	width:30%;
}
.camera_info_table1{
	margin:15px 0 15px 0;
}
.camera_info_table1 .ant-table-thead,.camera_info_table2 .ant-table-thead{
	display:none;	
}
.camera_info_table2{
	margin-top:20px;
}
.center-title,.center-plus{
	float:left;
}
.center-plus{
	cursor:pointer;
	margin:7px 0 0 10px;
	color:#11D211;
}
/**
 *user_log
 */
.icon_down{
	font-size: 11px;
	margin-right: 0;
}
.pagination{
	margin:20px 0 0 0;
	text-align:center;
}
.contents .ant-pagination{
	display:inline-block;
}
