
.header{
	margin-bottom: 20px;
	border-bottom: 2px solid #d9d9d9;
}
.header h1{
	font-size: 18px;
	height: 40px;
	line-height: 40px;
}
.boxContainer a{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 1px solid #57c5f7;
	margin-right: 10px;
	text-indent: -9999px;
}
.boxContainer a.box_solid{
	background: #57c5f7;
}
.loading_container{
	position: absolute;
	top:50%;
	left: 50%;
	width: 100px;
	height: 100px;
	margin-top: -50px;
	margin-left: -50px;
	text-align: center;
}
.new_index_disk_model .ant-modal-footer{
	display: none;
}
.total_capacity{
	font-weight: bold;
	font-size: 14px;
	border-radius: 5px;
	text-align: center;
	color: #31b0d5;
}
.ant-modal-content .tooltip{
	font-weight: bold;
	color:#D62728;
}
.used_time{
	text-align: center;
	font-size: 12px;
}
.used_time span.used_start_time{
	padding-right: 20px;
}
.used_time span{
	height: 30px;
	line-height: 30px;
}
.app_manager_add_btn{
	margin-bottom: 10px;
}
.app_manager_key_operate,
.app_manager_reset_key_operate,
.app_manager_delete_operate,
.app_manager_edit_operate{
	display: inline-block;
	margin-right: 10px;
	color:#fff;
	padding:5px 10px;
	border-radius: 5px;
}
.app_manager_key_operate{
	background: #31b0d5;
	border-color: #269abc;
}
.app_manager_reset_key_operate{
	background-color: #ec971f;
    border-color: #d58512;
}
.app_manager_delete_operate{
	background-color: #c9302c;
    border-color: #ac2925;
}
.app_manager_edit_operate{
	background-color: #337ab7;
    border-color: #2e6da4; 
}
.app_manager_operate_warn{
	color:red;
}
.new_index_camera_query{
	margin-bottom: 20px;
}