.public_monitor h2{
	color:#666;
}
.public_monitor h3{
	font-size:16px;
}
.public_monitor .p-m-bar{
	height:30px;
	/*background-color:rgba(255,85,0,.12)*/
	border-bottom:1px solid #ccc;
}
.public_monitor .summary .app{
	display:none;
}
.public_monitor .p-m-pie{
    position: absolute;
    top: -50px;
    right: 10px;
    height: 58px;
    width: 58px;
}

