.stroage_monitor_view_page_contianer{
	padding: 20px 40px;
}
.stroage_monitor_view_page_contianer .clear{
	overflow: hidden;
}
.stroage_monitor_view_page_contianer .stroage_monitor_view_health{
	margin-bottom: 20px;
}
.stroage_monitor_view_disk_message{
	color:#fff;
}
.stroage_monitor_view_disk_message .stroage_minitor_disk{
	overflow: hidden;
}
.stroage_monitor_view_disk_message h1,
.stroage_monitor_view_char_health h1,
.stroage_monitor_view_char_equipment h1,
.request-container h1{
	font-size: 18px;
	margin-bottom: 10px;
	float: left;
}
.stroage_monitor_view_char_health h1,
.stroage_monitor_view_char_equipment h1,
.request-container h1
{
	color:#fff;
	margin-right: 10px;
}
.collect_message_content h2{
	color: #fff;
	font-size: 18px;
	margin-top: 20px;
}
.collect_message_content .ant-table tr{
	background: #fff;
}
.collect_message_content .relative,.collect_message_content h4.mt10{
	color:#fff;
}
.stroage_monitor_view_char_equipment .stroage_monitor_view_fig{
	float: left;
	color: #fff;
	height: 21px;
	margin-top: 12px;
}
.stroage_monitor_view_char_equipment  .stroage_monitor_view_fig_items{
	display: inline-block;
	margin-right: 10px;
}
.stroage_monitor_view_char_equipment  .stroage_monitor_view_fig_items .desc{
	float: left;
}
.stroage_monitor_view_char_equipment  .stroage_monitor_view_fig_items .stroage_monitor_view_area_icon_items{
	margin-right: 5px;
	float: left;
}
.stroage_monitor_view_disk_message .stroage_monitor_tooltips_contianer{
	float: right;
	line-height: 20px;
	height: 20px;
}
.stroage_monitor_view_disk_title{
	overflow: hidden;
}
.stroage_monitor_view_tooltips_items,.collect_message_request_length_items{
	float: left;
	margin-left: 10px;
}
.stroage_monitor_view_tooltips_items span{
	float: left;
}
.collect_message_request_length_items span{
	color: #fff;
	float: left;
	display: inline-block;
	margin-left: 5px;
}
.request-length-container{
	margin-top: 20px;
}
.stroage_monitor_view_tooltips_items span.total,
.stroage_monitor_view_tooltips_items span.used,
.stroage_monitor_view_tooltips_items span.wait,
.stroage_monitor_view_tooltips_items span.error,
.collect_message_request_length_items span.length{
	width: 15px;
	height: 15px;
	border-radius: 5px;
	display: inline-block;
	margin-left: 5px;
	margin-top: 2px;
}
.stroage_monitor_view_tooltips_items span.total{
	background: #2C94C3;
}
.stroage_monitor_view_tooltips_items span.used{
	background: #6FB353
}
.stroage_monitor_view_tooltips_items span.wait{
	background: blue;
}
.stroage_monitor_view_tooltips_items span.error{
	background: #EC3535;
}
.stroage_monitor_view_disk_message_items{
	margin-bottom: 10px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
}
.stroage_monitor_view_disk_message_items .disk_process_num{
	height:20px;
	float: left;
}
.stroage_monitor_view_disk_message_items .disk_process_useing{
	background: #6FB353;
}
.stroage_monitor_view_disk_message_items .disk_process_wait{
	background: blue;
}
.stroage_monitor_view_disk_message_items .disk_process_error{
	background: #EC3535;
}
.stroage_monitor_view_disk_message_items .disk_process_total{
	background: #2C94C3;
	-webkit-filter: drop-shadow(4px 4px 4px rgba(10, 10, 10, 0.5));
}
.stroage_monitor_view_disk_message_items .disk_num{
	padding-left: 10px;
	font-weight: bold;
}
.stroage_monitor_view_area_detail_message h3,.stroage_monitor_view_area_message h3{
	color:#fff;
	font-size: 18px;
	margin-top: 30px;
	margin-bottom: 10px;
}
.stroage_monitor_char_items_left{
	float: left;
}
.stroage_monitor_char_items_right{
	float: right;
}
.stroage_monitor_view_tooltips{
	background: #FFF;
	padding:10px;
	border-radius: 5px;
}
.stroage_monitor_char svg text,.stroage_monitor_view_health svg text, .request-container svg text{
	fill: #fff;
}
.request-container svg{
	height: auto;
}
.stroage_monitor_char svg{
	-webkit-filter: drop-shadow(8px 4px 6px rgba(10, 10, 10, 0.8));
}
.stroage_monitor_health_detail_char svg{
	transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	-o-transform: rotate(30deg);		
    -moz-transform: rotate(30deg);
}
.stroage_monitor_char{
	margin-top: 20px;
}
.stroage_monitor_char .stroage_monitor_char_items h1{
	font-size: 14px;
	color:#fff;
	margin-bottom: 5px;
}
.stroage_monitor_char .stroage_monitor_char_items{
	margin-bottom: 10px;
}
.stroage_monitor_view_area_message .ant-table tr,.stroage_monitor_view_area_detail_message .ant-table tr{
	background: #fff;
}
.stroage_monitor_char_items .stroage_monitor_view_tooltips,.stroage_monitor_view_char_equipment .stroage_monitor_view_tooltips{
	width: 180px;
}
.stroage_monitor_view_char_equipment .tooltip{
	z-index: 999999;
}
.stroage_monitor_view_area_detail_message .split_line,.stroage_monitor_view_area_detail_message .vertical_split_line{
	font-weight: bold;
	font-size: 16px;
	padding:0 5px;
	color:#000;
}
.stroage_minitor_view_disc_list_items{
	font-size: 22px;
}
.stroage_minitor_view_disc_list_items.health{
	color: rgb(47, 213, 238);
}
.stroage_minitor_view_disc_list_items.unhealth{
	color: rgb(236, 53, 53);
}
.stroage_monitor_view_7day_user{
	height: 20px;
	background: rgb(44, 148, 195);
}
.stroage_monitor_view_health_area_items span{
	color: #fff;
	font-size: 14px;
}
.stroage_monitor_health_detail_char{
	color:#fff;
	font-size: 14px;
}
.stroage_monitor_health_detail_char p{
	overflow: hidden;
}
.stroage_monitor_health_detail_char span.desc{
	float: left;
	margin-right: 5px;
}
.stroage_monitor_health_detail_char span.stroage_monitor_view_area_icon_items{
	float: left;
	margin-top: 3px;
	margin-right: 10px;
}
.stroage_monitor_view_area_icon_items{
	width: 15px;
	height: 15px;
	display: inline-block;
	border-radius: 5px;
}
.stroage_monitor_view_area_desc_items{
	width: 100px;
	display: inline-block;
	margin-left: 10px;
	float: left;
}
.stroage_monitor_health_status_tooltips{
	background: #FFF;
	padding:10px;
	border-radius: 5px;
	color:#000;
	width: 200px;
}
.stroage_monitor_view_area_detail_message .ant-table tr.disc_message_deatail_error {
	background: red;
	color: #fff;
}
.stroage_monitor_view_area_detail_message .ant-table tr.disc_message_deatail_error .ant-table-row-expand-icon-cell{
	color: #000;
}
.stroage_monitor_view_area_detail_message .ant-table tr.disc_message_deatail_error .split_line{
	color: #fff;
}
.stroage_monitor_view_area_disk_items{
	float: left;
	width: 60px;
	margin-right: 10px;
}
.stroage_monitor_view_area_disk_items:last-child{
	margin-right: 0;
}
.stroage_monitor_view_area_disk_items .container{
	height: 170px;
	width: 100%;
	position: relative;
}
.stroage_monitor_view_area_disk_items .desc{
	width: 100%;
	text-align: center;
	line-height: 20px;
	height: 20px;
	margin-top: 10px;
}
.stroage_monitor_view_area_disk_items .desc .stroage_monitor_view_area_icon_items{
	margin-right: 5px;
}
.stroage_monitor_view_area_disk_items .stroage_monitor_view_area_disk_total,
.stroage_monitor_view_area_disk_items .stroage_monitor_view_area_space_total{
	width: 20px;
	position: absolute;
	bottom: 0;
}
.stroage_monitor_view_area_disk_items .container_disk,.stroage_monitor_view_area_disk_items .container_space{
	position: absolute;
	width: 20px;
	height: 100%;
}
.stroage_monitor_view_area_disk_items .container_disk{
	left: 10px;
}
.stroage_monitor_view_area_disk_items .container_space{
	right: 0px;
}
.stroage_monitor_view_area_disk_items .disk_wait,.stroage_monitor_view_area_disk_items .disk_error,
.stroage_monitor_view_area_disk_items .disk_useing,.stroage_monitor_view_area_disk_items .disk_used{
	position: absolute;
	z-index: 999999;
	width: 20px;
	left: 0;
}
.stroage_monitor_view_area_disk_items .disk_wait{
	background: blue;
	bottom: 0;
}
.stroage_monitor_view_area_disk_items .disk_error{
	background: #EC3535;
}
.stroage_monitor_view_area_disk_items .disk_useing{
	background: #6FB353;
}
.stroage_monitor_view_area_disk_items .disk_used{
	bottom: 0;
	background: #6FB353;
}
.stroage_monitor_view_area_disk_items .rotate{
	transform: rotate(270deg);
	-ms-transform: rotate(270deg);		/* IE 9 */
	-webkit-transform: rotate(270deg);	/* Safari and Chrome */
	-o-transform: rotate(270deg);		/* Opera */
	-moz-transform: rotate(270deg);	
	position: absolute;
	padding-right: 2px;
}
.stroage_monitor_view_area_disk_items .stroage_monitor_view_area_space_total .rotate{
	right: -15px;
	top:-22px;
}
.stroage_monitor_view_area_disk_items .stroage_monitor_view_area_disk_total .rotate{
	padding-right: 5px;
	width: 20px;
	top:-3px;
	text-align: right;
}
.stroage_monitor_view_area_disk_items .container_space .total.rotate{
	width: 20px;
	right: 0px;
	padding-left: 8px;
}
.stroage_monitor_view_area_disk_items .container_disk .total.rotate{
	width: 20px;
	right: 0px;
	padding-left: 8px;
}
.stroage_monitor_view_area_disk_items .stroage_monitor_view_area_disk_total,
.stroage_monitor_view_area_disk_items .stroage_monitor_view_area_space_total{
	-webkit-filter: drop-shadow(4px 4px 4px rgba(10, 10, 10, 0.5));
}
.collect_message_tips{
	background: #fff;
	padding: 10px;
	border-radius: 10px;
}
.collect_message_tips .collect_message_request_span{
	display: inline-block;
	margin-right: 10px;
}
